Tenemos los CSV, vamos a lanzar consultas en SQL, por lo que crearemos una Base de Datos, pasaremos los CSVs a 
tablas dentro de la Base de Datos y as√≠ podremos lanzar consultas

In [14]:
# Importar las bibliotecas necesarias
import pandas as pd  # Para manejar archivos CSV y bases de datos
import sqlite3  # Para interactuar con SQLite
import os  # Para comprobar la existencia de archivos

## Comprobar tipo de datos y formato

In [15]:
import pandas as pd

# Lista de archivos CSV en tu proyecto
csv_files = [
    "customers csv.csv",
    "dim_geography.csv",
    "dim_product.csv",
    "dim_territory.csv",
    "fact_sales.csv"
]

# Analizar cada archivo
for file in csv_files:
    print(f"\nüîπ An√°lisis del archivo: {file}\n")

    # Detectar si es un CSV con delimitador `;`
    with open(file, 'r') as f:
        first_line = f.readline()
        delimiter = ';' if ';' in first_line else ','

    # Cargar CSV con el delimitador correcto
    df = pd.read_csv(file, delimiter=delimiter)

    # Crear DataFrame con nombre de columna, ejemplo de dato y tipo de dato
    analysis = pd.DataFrame({
        "Columna": df.columns,
        "Ejemplo": df.iloc[0].astype(str),  # Convertimos la primera fila a string
        "Tipo de Dato": df.dtypes.values
    })

    # Mostrar tabla en formato m√°s limpio
    from tabulate import tabulate
    print(tabulate(analysis, headers="keys", tablefmt="pretty"))
    print("-" * 50)

üîπ An√°lisis del archivo: customers csv.csv

+-------------------+-------------------+------------+--------------+
|                   |      Columna      |  Ejemplo   | Tipo de Dato |
+-------------------+-------------------+------------+--------------+
|    customer_id    |    customer_id    |   11000    |    int64     |
|   geography_id    |   geography_id    |     26     |    int64     |
|     birthdate     |     birthdate     | 08/04/1986 |    object    |
|   maritalstatus   |   maritalstatus   |     M      |    object    |
|      gender       |      gender       |     M      |    object    |
| datefirstpurchase | datefirstpurchase | 22/07/2016 |    object    |
+-------------------+-------------------+------------+--------------+
--------------------------------------------------

üîπ An√°lisis del archivo: dim_geography.csv

+-----------------------------+-----------------------------+-----------------+--------------+
|                             |           Columna           |     Ejemplo     | Tipo de Dato |
+-----------------------------+-----------------------------+-----------------+--------------+
|        geography_id         |        geography_id         |        2        |    int64     |
|            city             |            city             |  Coffs Harbour  |    object    |
|     state_province_code     |     state_province_code     |       NSW       |    object    |
|     state_province_name     |     state_province_name     | New South Wales |    object    |
|     country_region_code     |     country_region_code     |       AU        |    object    |
| english_country_region_name | english_country_region_name |    Australia    |    object    |
|         postal_code         |         postal_code         |      2450       |    object    |
+-----------------------------+-----------------------------+-----------------+--------------+
--------------------------------------------------

üîπ An√°lisis del archivo: dim_product.csv

+--------------+--------------+---------------------------+--------------+
|              |   Columna    |          Ejemplo          | Tipo de Dato |
+--------------+--------------+---------------------------+--------------+
|  product_id  |  product_id  |            210            |    int64     |
| product_name | product_name | HL Road Frame - Black, 58 |    object    |
|  model_name  |  model_name  |       HL Road Frame       |    object    |
|    color     |    color     |           Black           |    object    |
|  size_range  |  size_range  |         54-58 CM          |    object    |
|     cost     |     cost     |          11000.0          |   float64    |
| normal_price | normal_price |          11000.0          |   float64    |
| sub_category | sub_category |        Road Frames        |    object    |
|   category   |   category   |        Components         |    object    |
+--------------+--------------+---------------------------+--------------+
--------------------------------------------------

üîπ An√°lisis del archivo: dim_territory.csv

+--------------+--------------+---------------+--------------+
|              |   Columna    |    Ejemplo    | Tipo de Dato |
+--------------+--------------+---------------+--------------+
| territory_id | territory_id |       1       |    int64     |
|    region    |    region    |   Northwest   |    object    |
|   country    |   country    | United States |    object    |
|    groups    |    groups    | North America |    object    |
+--------------+--------------+---------------+--------------+
--------------------------------------------------

üîπ An√°lisis del archivo: fact_sales.csv

+-------------------------+-------------------------+------------+--------------+
|                         |         Columna         |  Ejemplo   | Tipo de Dato |
+-------------------------+-------------------------+------------+--------------+
|     order_detail_id     |     order_detail_id     | SO43698-1  |    object    |
|       order_date        |       order_date        | 2016-07-01 |    object    |
|       product_id        |       product_id        |    346     |    int64     |
|       customer_id       |       customer_id       |  28389.0   |   float64    |
|      territory_id       |      territory_id       |     7      |    int64     |
|   sales_order_number    |   sales_order_number    |  SO43698   |    object    |
| sales_order_line_number | sales_order_line_number |     1      |    int64     |
|        quantity         |        quantity         |     1      |    int64     |
|    unitprice_rupiah     |    unitprice_rupiah     | 47599860.0 |   float64    |
|    totalprice_rupiah    |    totalprice_rupiah    | 47599860.0 |   float64    |
|    totalcost_rupiah     |    totalcost_rupiah     | 26770161.6 |   float64    |
|  shippingprice_rupiah   |  shippingprice_rupiah   | 1189997.2  |   float64    |
+-------------------------+-------------------------+------------+--------------+
--------------------------------------------------

# NUEVAS COLUMNAS A EUROS Y NUEVOS CSV VERSIONADOS

In [16]:
import pandas as pd

# Lista de archivos CSV con los que trabajaremos
csv_files = [
    "dim_product.csv",
    "fact_sales.csv"
]

# Tasa de conversi√≥n de Rupiah a Euro
rupiah_to_euro = 0.000055

# Analizar cada archivo y agregar las columnas convertidas
for file in csv_files:
    print(f"\nüîπ Procesando archivo: {file}\n")

    # Detectar si es un CSV con delimitador `;` o `,`
    with open(file, 'r') as f:
        first_line = f.readline()
        delimiter = ';' if ';' in first_line else ','

    # Cargar CSV con el delimitador correcto
    df = pd.read_csv(file, delimiter=delimiter)

    # Comprobamos que los valores sean num√©ricos antes de aplicar la conversi√≥n
    if file == "dim_product.csv":
        # Convertir las columnas cost y normal_price a euros si existen
        if 'cost' in df.columns:
            df['cost_euro'] = (df['cost'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)).round(2)
        if 'normal_price' in df.columns:
            df['normal_price_euro'] = (df['normal_price'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)).round(2)

    elif file == "fact_sales.csv":
        # Convertir las columnas unitprice_rupiah, totalprice_rupiah, totalcost_rupiah, shippingprice_rupiah a euros
        if 'unitprice_rupiah' in df.columns:
            df['unitprice_euro'] = (df['unitprice_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)).round(2)
        if 'totalprice_rupiah' in df.columns:
            df['totalprice_euro'] = (df['totalprice_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)).round(2)
        if 'totalcost_rupiah' in df.columns:
            df['totalcost_euro'] = (df['totalcost_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)).round(2)
        if 'shippingprice_rupiah' in df.columns:
            df['shippingprice_euro'] = (df['shippingprice_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)).round(2)

    # Guardar el archivo con las columnas convertidas a euros
    df.to_csv(f"converted_{file}", index=False)

    # Mostrar las primeras filas del archivo procesado
    print(f"Primeras filas de {file}:")
    print(df.head(10))

üîπ Procesando archivo: dim_product.csv

Primeras filas de dim_product.csv:
   product_id               product_name          model_name  color  \
0         210  HL Road Frame - Black, 58       HL Road Frame  Black
1         211    HL Road Frame - Red, 58       HL Road Frame    Red
2         480        Patch Kit/8 Patches           Patch kit    NaN
3         529             Road Tire Tube      Road Tire Tube    NaN
4         477      Water Bottle - 30 oz.        Water Bottle    NaN
5         528         Mountain Tire Tube  Mountain Tire Tube    NaN
6         530          Touring Tire Tube   Touring Tire Tube    NaN
7         484      Bike Wash - Dissolver           Bike Wash    NaN
8         224               AWC Logo Cap         Cycling Cap  Multi
9         223               AWC Logo Cap         Cycling Cap  Multi

  size_range     cost  normal_price       sub_category     category  \
0   54-58 CM  11000.0       11000.0        Road Frames   Components
1   54-58 CM  11000.0       11000.0        Road Frames   Components
2        NaN  11991.0       32060.0    Tires and Tubes  Accessories
3        NaN  20892.2       55860.0    Tires and Tubes  Accessories
4        NaN  26128.2       69860.0  Bottles and Cages  Accessories
5        NaN  26128.2       69860.0    Tires and Tubes  Accessories
6        NaN  26128.2       69860.0    Tires and Tubes  Accessories
7        NaN  41626.2      111300.0           Cleaners  Accessories
8        NaN  73215.8      121018.8               Caps     Clothing
9        NaN  79872.8      121018.8               Caps     Clothing

   cost_euro  normal_price_euro
0       0.60               0.60
1       0.60               0.60
2       0.66               1.76
3       1.15               3.07
4       1.44               3.84
5       1.44               3.84
6       1.44               3.84
7       2.29               6.12
8       4.03               6.66
9       4.39               6.66

üîπ Procesando archivo: fact_sales.csv

Primeras filas de fact_sales.csv:
  order_detail_id  order_date  product_id  customer_id  territory_id  \
0       SO43698-1  2016-07-01         346      28389.0             7
1       SO43704-1  2016-07-02         351      11005.0             9
2       SO43705-1  2016-07-02         344      11011.0             9
3       SO43713-1  2016-07-05         310      27601.0             4
4       SO43714-1  2016-07-05         311      13591.0            10
5       SO43719-1  2016-07-06         312      27612.0             4
6       SO43720-1  2016-07-06         311      13264.0             8
7       SO43721-1  2016-07-06         310      13590.0            10
8       SO43725-1  2016-07-08         311      13258.0             8
9       SO43728-1  2016-07-09         313      27666.0             4

  sales_order_number  sales_order_line_number  quantity  unitprice_rupiah  \
0            SO43698                        1         1        47599860.0
1            SO43704                        1         1        47249860.0
2            SO43705                        1         1        47599860.0
3            SO43713                        1         1        50095780.0
4            SO43714                        1         1        50095780.0
5            SO43719                        1         1        50095780.0
6            SO43720                        1         1        50095780.0
7            SO43721                        1         1        50095780.0
8            SO43725                        1         1        50095780.0
9            SO43728                        1         1        50095780.0

   totalprice_rupiah  totalcost_rupiah  shippingprice_rupiah  unitprice_euro  \
0         47599860.0        26770161.6             1189997.2         2617.99
1         47249860.0        26573321.6             1181247.2         2598.74
2         47599860.0        26770161.6             1189997.2         2617.99
3         50095780.0        30398118.8             1252395.2         2755.27
4         50095780.0        30398118.8             1252395.2         2755.27
5         50095780.0        30398118.8             1252395.2         2755.27
6         50095780.0        30398118.8             1252395.2         2755.27
7         50095780.0        30398118.8             1252395.2         2755.27
8         50095780.0        30398118.8             1252395.2         2755.27
9         50095780.0        30398118.8             1252395.2         2755.27

   totalprice_euro  totalcost_euro  shippingprice_euro
0          2617.99         1472.36               65.45
1          2598.74         1461.53               64.97
2          2617.99         1472.36               65.45
3          2755.27         1671.90               68.88
4          2755.27         1671.90               68.88
5          2755.27         1671.90               68.88
6          2755.27         1671.90               68.88
7          2755.27         1671.90               68.88
8          2755.27         1671.90               68.88
9          2755.27         1671.90               68.88

# 1. Conectar o crear la base de datos SQLite

In [17]:

# Si el archivo 'sales_data.db' no existe, SQLite lo crear√° autom√°ticamente
conn = sqlite3.connect("sales_data.db")
print("Conexi√≥n establecida con la base de datos.")

Conexi√≥n establecida con la base de datos.

# 2. Definir los archivos CSV y los nombres de las tablas correspondientes y cargarlos a tablas

In [18]:

import os
import pandas as pd
import sqlite3

# Establecer la conexi√≥n con la base de datos SQLite
conn = sqlite3.connect('sales_data.db')

# Crear un cursor
cursor = conn.cursor()

# Creamos un diccionario donde la clave es el nombre de la tabla en la base de datos
# y el valor es el nombre del archivo CSV
csv_files = {
    "customers": "customers csv.csv",
    "dim_customer": "dim_customer.csv",
    "dim_geography": "dim_geography.csv",
    "dim_product": "converted_dim_product.csv",
    "territory": "dim_territory.csv",   # Corregido
    "fact_sales": "converted_fact_sales.csv"   # Corregido
}

# Cargar cada archivo CSV en su tabla correspondiente en SQLite
for table_name, file_name in csv_files.items():
    if os.path.exists(file_name):  # Verificamos que el archivo exista
        df = pd.read_csv(file_name)  # Leer el archivo CSV en un DataFrame
        df.to_sql(table_name, conn, if_exists="replace", index=False)  # Guardar en SQLite
        print(f"Tabla '{table_name}' cargada correctamente con {len(df)} registros.")
    else:
        print(f"El archivo '{file_name}' no se encontr√≥. Verifica su nombre y ubicaci√≥n.")

# Cerrar la conexi√≥n
conn.close()

Tabla 'customers' cargada correctamente con 1360 registros.
Tabla 'dim_customer' cargada correctamente con 1360 registros.
Tabla 'dim_geography' cargada correctamente con 654 registros.
Tabla 'dim_product' cargada correctamente con 397 registros.
Tabla 'territory' cargada correctamente con 11 registros.
Tabla 'fact_sales' cargada correctamente con 5954 registros.

# Exportamos en la terminal sqlite3 sales_data.db .dump > export.sql

Para exportar la base de datos completa a un archivo SQL (incluyendo la estructura de las tablas y los datos) desde la terminal de SQLite, sigue estos pasos:

# Cambiar algunos t√©rminos de SQLite para que sea compatible con MySQL
> ‚Ä¢ Reemplaza todas las ocurrencias de AUTOINCREMENT por AUTO_INCREMENT (MySQL usa AUTO_INCREMENT). <br>
> ‚Ä¢ Si ves PRAGMA o BEGIN TRANSACTION, elim√≠nalos (MySQL no los usa). <br>
> ‚Ä¢ Aseg√∫rate de que las FOREIGN KEY tengan ON DELETE CASCADE si quieres que se comporten igual en MySQL. <br>