Tenemos los CSV, vamos a lanzar consultas en SQL, por lo que crearemos una Base de Datos, pasaremos los CSVs a 
tablas dentro de la Base de Datos y as铆 podremos lanzar consultas

In [40]:
# Importar las bibliotecas necesarias
import pandas as pd  # Para manejar archivos CSV y bases de datos
import sqlite3  # Para interactuar con SQLite
import os  # Para comprobar la existencia de archivos

## Comprobar tipo de datos y formato

In [41]:
import pandas as pd

# Lista de archivos CSV en tu proyecto
csv_files = [
    "customers csv.csv",
    "dim_geography.csv",
    "dim_product.csv",
    "dim_territory.csv",
    "fact_sales.csv"
]

# Analizar cada archivo
for file in csv_files:
    print(f"\n An谩lisis del archivo: {file}\n")

    # Detectar si es un CSV con delimitador `;`
    with open(file, 'r') as f:
        first_line = f.readline()
        delimiter = ';' if ';' in first_line else ','

    # Cargar CSV con el delimitador correcto
    df = pd.read_csv(file, delimiter=delimiter)

    # Crear DataFrame con nombre de columna, ejemplo de dato y tipo de dato
    analysis = pd.DataFrame({
        "Columna": df.columns,
        "Ejemplo": df.iloc[0].astype(str),  # Convertimos la primera fila a string
        "Tipo de Dato": df.dtypes.values
    })

    # Mostrar tabla en formato m谩s limpio
    from tabulate import tabulate
    print(tabulate(analysis, headers="keys", tablefmt="pretty"))
    print("-" * 50)

 An谩lisis del archivo: customers csv.csv

+-------------------+-------------------+------------+--------------+
|                   |      Columna      |  Ejemplo   | Tipo de Dato |
+-------------------+-------------------+------------+--------------+
|    customer_id    |    customer_id    |   11000    |    int64     |
|   geography_id    |   geography_id    |     26     |    int64     |
|     birthdate     |     birthdate     | 08/04/1986 |    object    |
|   maritalstatus   |   maritalstatus   |     M      |    object    |
|      gender       |      gender       |     M      |    object    |
| datefirstpurchase | datefirstpurchase | 22/07/2016 |    object    |
+-------------------+-------------------+------------+--------------+
--------------------------------------------------

 An谩lisis del archivo: dim_geography.csv

+-----------------------------+-----------------------------+-----------------+--------------+
|                             |           Columna           |     Ejemplo     | Tipo de Dato |
+-----------------------------+-----------------------------+-----------------+--------------+
|        geography_id         |        geography_id         |        2        |    int64     |
|            city             |            city             |  Coffs Harbour  |    object    |
|     state_province_code     |     state_province_code     |       NSW       |    object    |
|     state_province_name     |     state_province_name     | New South Wales |    object    |
|     country_region_code     |     country_region_code     |       AU        |    object    |
| english_country_region_name | english_country_region_name |    Australia    |    object    |
|         postal_code         |         postal_code         |      2450       |    object    |
+-----------------------------+-----------------------------+-----------------+--------------+
--------------------------------------------------

 An谩lisis del archivo: dim_product.csv

+--------------+--------------+---------------------------+--------------+
|              |   Columna    |          Ejemplo          | Tipo de Dato |
+--------------+--------------+---------------------------+--------------+
|  product_id  |  product_id  |            210            |    int64     |
| product_name | product_name | HL Road Frame - Black, 58 |    object    |
|  model_name  |  model_name  |       HL Road Frame       |    object    |
|    color     |    color     |           Black           |    object    |
|  size_range  |  size_range  |         54-58 CM          |    object    |
|     cost     |     cost     |          11000.0          |   float64    |
| normal_price | normal_price |          11000.0          |   float64    |
| sub_category | sub_category |        Road Frames        |    object    |
|   category   |   category   |        Components         |    object    |
+--------------+--------------+---------------------------+--------------+
--------------------------------------------------

 An谩lisis del archivo: dim_territory.csv

+--------------+--------------+---------------+--------------+
|              |   Columna    |    Ejemplo    | Tipo de Dato |
+--------------+--------------+---------------+--------------+
| territory_id | territory_id |       1       |    int64     |
|    region    |    region    |   Northwest   |    object    |
|   country    |   country    | United States |    object    |
|    groups    |    groups    | North America |    object    |
+--------------+--------------+---------------+--------------+
--------------------------------------------------

 An谩lisis del archivo: fact_sales.csv

+-------------------------+-------------------------+------------+--------------+
|                         |         Columna         |  Ejemplo   | Tipo de Dato |
+-------------------------+-------------------------+------------+--------------+
|     order_detail_id     |     order_detail_id     | SO43698-1  |    object    |
|       order_date        |       order_date        | 2016-07-01 |    object    |
|       product_id        |       product_id        |    346     |    int64     |
|       customer_id       |       customer_id       |  28389.0   |   float64    |
|      territory_id       |      territory_id       |     7      |    int64     |
|   sales_order_number    |   sales_order_number    |  SO43698   |    object    |
| sales_order_line_number | sales_order_line_number |     1      |    int64     |
|        quantity         |        quantity         |     1      |    int64     |
|    unitprice_rupiah     |    unitprice_rupiah     | 47599860.0 |   float64    |
|    totalprice_rupiah    |    totalprice_rupiah    | 47599860.0 |   float64    |
|    totalcost_rupiah     |    totalcost_rupiah     | 26770161.6 |   float64    |
|  shippingprice_rupiah   |  shippingprice_rupiah   | 1189997.2  |   float64    |
+-------------------------+-------------------------+------------+--------------+
--------------------------------------------------

In [46]:
import pandas as pd

# Lista de archivos CSV con los que trabajaremos
csv_files = [
    "dim_product.csv",
    "fact_sales.csv"
]

# Tasa de conversi贸n de Rupiah a Euro
rupiah_to_euro = 0.000055

# Analizar cada archivo y agregar las columnas convertidas
for file in csv_files:
    print(f"\n Procesando archivo: {file}\n")

    # Detectar si es un CSV con delimitador `;` o `,`
    with open(file, 'r') as f:
        first_line = f.readline()
        delimiter = ';' if ';' in first_line else ','

    # Cargar CSV con el delimitador correcto
    df = pd.read_csv(file, delimiter=delimiter)

    # Comprobamos que los valores sean num茅ricos antes de aplicar la conversi贸n
    if file == "dim_product.csv":
        # Convertir las columnas cost y normal_price a euros si existen
        if 'cost' in df.columns:
            df['cost_euro'] = df['cost'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)
        if 'normal_price' in df.columns:
            df['normal_price_euro'] = df['normal_price'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)

    elif file == "fact_sales.csv":
        # Convertir las columnas unitprice_rupiah, totalprice_rupiah, totalcost_rupiah, shippingprice_rupiah a euros
        if 'unitprice_rupiah' in df.columns:
            df['unitprice_euro'] = df['unitprice_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)
        if 'totalprice_rupiah' in df.columns:
            df['totalprice_euro'] = df['totalprice_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)
        if 'totalcost_rupiah' in df.columns:
            df['totalcost_euro'] = df['totalcost_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)
        if 'shippingprice_rupiah' in df.columns:
            df['shippingprice_euro'] = df['shippingprice_rupiah'].apply(lambda x: x * rupiah_to_euro if isinstance(x, (int, float)) else x)

    # Guardar el archivo con las columnas convertidas a euros
    df.to_csv(f"converted_{file}", index=False)

    # Mostrar las primeras filas del archivo procesado
    print(f"Primeras filas de {file}:")
    print(df.head(10))

 Procesando archivo: dim_product.csv

Primeras filas de dim_product.csv:
   product_id               product_name          model_name  color  \
0         210  HL Road Frame - Black, 58       HL Road Frame  Black
1         211    HL Road Frame - Red, 58       HL Road Frame    Red
2         480        Patch Kit/8 Patches           Patch kit    NaN
3         529             Road Tire Tube      Road Tire Tube    NaN
4         477      Water Bottle - 30 oz.        Water Bottle    NaN
5         528         Mountain Tire Tube  Mountain Tire Tube    NaN
6         530          Touring Tire Tube   Touring Tire Tube    NaN
7         484      Bike Wash - Dissolver           Bike Wash    NaN
8         224               AWC Logo Cap         Cycling Cap  Multi
9         223               AWC Logo Cap         Cycling Cap  Multi

  size_range  cost  normal_price       sub_category     category  cost_euro  \
0   54-58 CM 11000         11000        Road Frames   Components          1
1   54-58 CM 11000         11000        Road Frames   Components          1
2        NaN 11991         32060    Tires and Tubes  Accessories          1
3        NaN 20892         55860    Tires and Tubes  Accessories          1
4        NaN 26128         69860  Bottles and Cages  Accessories          1
5        NaN 26128         69860    Tires and Tubes  Accessories          1
6        NaN 26128         69860    Tires and Tubes  Accessories          1
7        NaN 41626        111300           Cleaners  Accessories          2
8        NaN 73216        121019               Caps     Clothing          4
9        NaN 79873        121019               Caps     Clothing          4

   normal_price_euro
0                  1
1                  1
2                  2
3                  3
4                  4
5                  4
6                  4
7                  6
8                  7
9                  7

 Procesando archivo: fact_sales.csv

Primeras filas de fact_sales.csv:
  order_detail_id  order_date  product_id  customer_id  territory_id  \
0       SO43698-1  2016-07-01         346        28389             7
1       SO43704-1  2016-07-02         351        11005             9
2       SO43705-1  2016-07-02         344        11011             9
3       SO43713-1  2016-07-05         310        27601             4
4       SO43714-1  2016-07-05         311        13591            10
5       SO43719-1  2016-07-06         312        27612             4
6       SO43720-1  2016-07-06         311        13264             8
7       SO43721-1  2016-07-06         310        13590            10
8       SO43725-1  2016-07-08         311        13258             8
9       SO43728-1  2016-07-09         313        27666             4

  sales_order_number  sales_order_line_number  quantity  unitprice_rupiah  \
0            SO43698                        1         1          47599860
1            SO43704                        1         1          47249860
2            SO43705                        1         1          47599860
3            SO43713                        1         1          50095780
4            SO43714                        1         1          50095780
5            SO43719                        1         1          50095780
6            SO43720                        1         1          50095780
7            SO43721                        1         1          50095780
8            SO43725                        1         1          50095780
9            SO43728                        1         1          50095780

   totalprice_rupiah  totalcost_rupiah  shippingprice_rupiah  unitprice_euro  \
0           47599860          26770162               1189997            2618
1           47249860          26573322               1181247            2599
2           47599860          26770162               1189997            2618
3           50095780          30398119               1252395            2755
4           50095780          30398119               1252395            2755
5           50095780          30398119               1252395            2755
6           50095780          30398119               1252395            2755
7           50095780          30398119               1252395            2755
8           50095780          30398119               1252395            2755
9           50095780          30398119               1252395            2755

   totalprice_euro  totalcost_euro  shippingprice_euro
0             2618            1472                  65
1             2599            1462                  65
2             2618            1472                  65
3             2755            1672                  69
4             2755            1672                  69
5             2755            1672                  69
6             2755            1672                  69
7             2755            1672                  69
8             2755            1672                  69
9             2755            1672                  69

NUEVAS COLUMNAS

In [45]:
import pandas as pd

# Lista de archivos CSV con los que trabajaremos
csv_files = [
    "dim_product.csv",
    "fact_sales.csv"
]

# Tasa de conversi贸n de Rupiah a Euro
rupiah_to_euro = 0.000055

# Analizar cada archivo y agregar las columnas convertidas
for file in csv_files:
    print(f"\n Procesando archivo: {file}\n")

    # Detectar si es un CSV con delimitador `;` o `,`
    with open(file, 'r') as f:
        first_line = f.readline()
        delimiter = ';' if ';' in first_line else ','

    # Cargar CSV con el delimitador correcto
    df = pd.read_csv(file, delimiter=delimiter)

    # Crear las columnas convertidas a euros
    if file == "dim_product.csv":
        # Convertir las columnas cost y normal_price
        if 'cost' in df.columns:
            df['cost_euro'] = df['cost'] * rupiah_to_euro
        if 'normal_price' in df.columns:
            df['normal_price_euro'] = df['normal_price'] * rupiah_to_euro

    elif file == "fact_sales.csv":
        # Convertir las columnas unitprice_rupiah, totalprice_rupiah, totalcost_rupiah, shippingprice_rupiah
        if 'unitprice_rupiah' in df.columns:
            df['unitprice_euro'] = df['unitprice_rupiah'] * rupiah_to_euro
        if 'totalprice_rupiah' in df.columns:
            df['totalprice_euro'] = df['totalprice_rupiah'] * rupiah_to_euro
        if 'totalcost_rupiah' in df.columns:
            df['totalcost_euro'] = df['totalcost_rupiah'] * rupiah_to_euro
        if 'shippingprice_rupiah' in df.columns:
            df['shippingprice_euro'] = df['shippingprice_rupiah'] * rupiah_to_euro

    # Guardar el archivo con las columnas convertidas a euros
    df.to_csv(f"converted_{file}", index=False)


# Cargar el archivo CSV
file = "converted_dim_product.csv"

# Detectar el delimitador correcto
with open(file, 'r') as f:
    first_line = f.readline()
    delimiter = ';' if ';' in first_line else ','

# Cargar el CSV con el delimitador correcto
df = pd.read_csv(file, delimiter=delimiter)

# Mostrar las primeras 2 filas
print(df.head(10))

 Procesando archivo: dim_product.csv


 Procesando archivo: fact_sales.csv

   product_id               product_name          model_name  color  \
0         210  HL Road Frame - Black, 58       HL Road Frame  Black
1         211    HL Road Frame - Red, 58       HL Road Frame    Red
2         480        Patch Kit/8 Patches           Patch kit    NaN
3         529             Road Tire Tube      Road Tire Tube    NaN
4         477      Water Bottle - 30 oz.        Water Bottle    NaN
5         528         Mountain Tire Tube  Mountain Tire Tube    NaN
6         530          Touring Tire Tube   Touring Tire Tube    NaN
7         484      Bike Wash - Dissolver           Bike Wash    NaN
8         224               AWC Logo Cap         Cycling Cap  Multi
9         223               AWC Logo Cap         Cycling Cap  Multi

  size_range  cost  normal_price       sub_category     category  cost_euro  \
0   54-58 CM 11000         11000        Road Frames   Components          1
1   54-58 CM 11000         11000        Road Frames   Components          1
2        NaN 11991         32060    Tires and Tubes  Accessories          1
3        NaN 20892         55860    Tires and Tubes  Accessories          1
4        NaN 26128         69860  Bottles and Cages  Accessories          1
5        NaN 26128         69860    Tires and Tubes  Accessories          1
6        NaN 26128         69860    Tires and Tubes  Accessories          1
7        NaN 41626        111300           Cleaners  Accessories          2
8        NaN 73216        121019               Caps     Clothing          4
9        NaN 79873        121019               Caps     Clothing          4

   normal_price_euro
0                  1
1                  1
2                  2
3                  3
4                  4
5                  4
6                  4
7                  6
8                  7
9                  7

# 1. Conectar o crear la base de datos SQLite

In [ ]:

# Si el archivo 'sales_data.db' no existe, SQLite lo crear谩 autom谩ticamente
conn = sqlite3.connect("sales_data.db")
print("Conexi贸n establecida con la base de datos.")

Conexi贸n establecida con la base de datos.

# 2. Definir los archivos CSV y los nombres de las tablas correspondientes y cargarlos a tablas

In [ ]:

# Creamos un diccionario donde la clave es el nombre de la tabla en la base de datos
# y el valor es el nombre del archivo CSV
csv_files = {
    "customers": "customers csv.csv",
    "dim_customer": "dim_customer.csv",
    "dim_geography": "dim_geography.csv",
    "dim_product": "dim_product.csv",
    "dim_territory": "dim_territory.csv",
    "fact_sales": "fact_sales.csv"
}

# Cargar cada archivo CSV en su tabla correspondiente en SQLite
for table_name, file_name in csv_files.items():
    if os.path.exists(file_name):  # Verificamos que el archivo exista
        df = pd.read_csv(file_name)  # Leer el archivo CSV en un DataFrame
        df.to_sql(table_name, conn, if_exists="replace", index=False)  # Guardar en SQLite
        print(f"Tabla '{table_name}' cargada correctamente con {len(df)} registros.")
    else:
        print(f"El archivo '{file_name}' no se encontr贸. Verifica su nombre y ubicaci贸n.")

Tabla 'customers' cargada correctamente con 1360 registros.
Tabla 'dim_customer' cargada correctamente con 1360 registros.
Tabla 'dim_geography' cargada correctamente con 654 registros.
Tabla 'dim_product' cargada correctamente con 397 registros.
Tabla 'dim_territory' cargada correctamente con 11 registros.
Tabla 'fact_sales' cargada correctamente con 5954 registros.

# 4. Verificar la carga de datos mostrando la cantidad de registros en cada tabla

In [ ]:
print("\nResumen de la carga de datos:")
for table_name in csv_files.keys():
    query = f"SELECT COUNT(*) FROM {table_name};"
    result = pd.read_sql_query(query, conn)
    print(f"La tabla '{table_name}' tiene {result.iloc[0, 0]} registros.")

Resumen de la carga de datos:
La tabla 'customers' tiene 1360 registros.
La tabla 'dim_customer' tiene 1360 registros.
La tabla 'dim_geography' tiene 654 registros.
La tabla 'dim_product' tiene 397 registros.
La tabla 'dim_territory' tiene 11 registros.
La tabla 'fact_sales' tiene 5954 registros.

In [ ]:
sqlite3 sales_data.db # Funci贸n para ver la estructura de una tabla
def describe_table(table_name):
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()
    
    print(f"\nEstructura de la tabla '{table_name}':")
    for col in columns:
        print(f"{col[1]} - {col[2]}")  # Nombre de columna y tipo de dato

# Aplicar la funci贸n a todas las tablas
for table in tables:
    describe_table(table[0])
.dump > export.sql

SyntaxError: invalid syntax (97111715.py, line 1)